@import url('https://fonts.googleapis.com/css2?family=Arvo&display=swap');
@font-face {
    font-family: OpenSans;
    src: url(../recursos/fontes/OpenSans-VariableFont_wdth\,wght.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    max-width: 100%;
}

:root{
    --cor1: rgb(236, 104, 74);
    --cor2: rgb(250, 244, 244);
    --cor3: gainsboro;
    --cor4: grey;
    --cor5: rgb(62, 62, 62);
    --fonte1: 'Arvo', serif;
    --fonte2: 'OpenSans', sans-serif;
}

body{
    background-color: var(--cor2);
    color: var(--cor5);
    font-family: var(--fonte2);
}

header{
    display: flex;
    height: 120px;
    width: 90%;
    margin: 0 5% 0 5%;
    padding-top: 60px;
    border-bottom: 5px solid var(--cor1);
}

#tituloPrincipal{
    font-size: 25px;
    letter-spacing: 2px;
    font-family: var(--fonte1);
}

#titulo3-1{
    letter-spacing: 1.5px;
    font-size: 13px;
}

#iconesNav{
    width: 20px;
    height: 20px;
}

.div1{
    display: flex;
    gap: 15px;
}

nav{
    display: flex;
    height: 110px;
    width: 67%;
    justify-content: flex-end;
}

#textoNav{
    font-family: var(--fonte1);
    color: var(--cor4);
    margin-right: 35px;
}

#listaNav{
    display: flex;
    list-style-type: none;
}


#listaNav li{
    position:relative;
    float:left;
}

strong #textoNav{
    color: var(--cor1);
}

#listaNav li a{
    color: var(--cor4); 
    text-decoration:none; 
    padding:5px 10px; 
    display:block;
}

#listaNav li a:hover{
    box-shadow:0 1px 3px 0 #CCC;
    box-shadow:0 1px 3px 0 #ccc;
    text-shadow: 0px 1px 5px #fff;
    font-weight: 600;
}

#listaNav li ul{
    position:absolute;
    top:35px;
    background-color:#fff;
    display:none;
    font-size: 12px;
    border-radius: 0 0 20px 20px;
}

#listaNav li:hover ul, #listaNav li.over ul{
    display:block;
}

#listaNav li ul li{
    display:block;
    width: 180px;
}

#sec1{
    display: flex;
    height: auto;
    width: 90%;
    margin: 50px 5% 0 5%;
    border-radius: 60px 60px 0 0;
    column-gap: 4%;
    border-bottom: 2px solid var(--cor3);
    align-items: center;
}

.div2{
    width: 60%;
    margin: 60px 0 0 90px;
}

.div3{
    display: flex;
    margin: 30px 5% 0 0;
    justify-content: center;
    align-items: center;
    height: 650px;
}

#titulo1-1{
    font-size: 60px;
    margin: 0 0 20px 20px;
    font-family: var(--fonte1);
}

#p1{
    line-height: 35px;
    font-size: 100%;
    text-align: justify;
    text-indent: 60px;
}

#imgResumo{
    width: 800px;
    padding: 25px;
    border: 2px solid rgb(170, 170, 170);
    border-radius: 10px;
}

.botao1{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border: 2px solid var(--cor1);
    height: 40px;
    width: 220px;
    margin: 50px 0 50px 10px;
}

#pBotao{
    font-family: var(--fonte1);
    font-size: 15px;
    color: var(--cor1);
}

#sec2{
    display: flex;
    width: 90%;
    margin: 0 5% 0 5%;
    padding-top: 30px;
    height: 1000px;
    justify-content: space-between;
    border-bottom: 2px solid gainsboro;
    flex-wrap: wrap;
}

#imgPersonagem{
    border-radius: 100%;
    width: 150px;
    height: 150px;

}

.div4{
    width: 70%;
    height: 380px;
    margin-left: 30px;
}

.div4 a{
    color: rgb(108, 108, 108);
}

#textoPersonagem{
    line-height: 30px;
    font-size: 14px;
}

.divPersonagem{
    display: flex;
    height: 260px;
    width: 30%;
}

#titulo2-1{
    font-family: var(--fonte1);
    margin-bottom: 10px;
}

#titulo2-2{
    width: 70%;
    height: auto;
    margin: 50px 0 70px 70px;
    text-decoration: underline var(--cor1) solid 2px;
    text-underline-offset: 25px;
    font-family: var(--fonte1);
}

#sec3{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: 80px 10% 0 10%;
    border-bottom: 2px solid var(--cor3);
}

#titulo3-2 a{
    color: var(--cor1);
    font-family: var(--fonte1);
    font-size: 28px;
    text-align: center;
}

#titulo3-2{
    color: var(--cor1);
    font-family: var(--fonte1);
    font-size: 25px;
    text-align: center;
}

#tecnicoTexto{
    margin: 55px 0 40px 0;
    line-height: 30px;
    font-size: 16px;
    text-align: justify;
}

#tecnicoTexto2{
    margin-bottom: 50px;
    line-height: 30px;
    font-size: 16px;
    text-align: justify;
}

.divAlunos{
    display: flex;
    width: 100%;
    padding-top: 80px;
    height: 450px;
    align-content: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

#imgAluno{
    margin: 25px 10px 0 0;
    width: 50%;
    height: 50%;
    border-radius: 40px;
}

.divAluno{
    display: flex;
    height: 380px;
    width: 30%;
}

#instagram{
    width: 30px;
    height: 30px;
}

.redes{
    display: flex;
    align-items: flex-end;
    width: inherit;
    margin-top: 20px;
    height: 40px;
    justify-content: space-evenly;
}

#titulo2-3{
    width: 95%;
    height: auto;
    text-decoration: underline var(--cor1) solid 2px;
    text-underline-offset: 25px;
    font-family: var(--fonte1);
}

.div5{
    width: 100%;
    height: 380px;
    margin-left: 30px;
}

#textoPersonagem{
    line-height: 30px;
    font-size: 14px;
}


#sec4{
    display: flex;
    height: 780px;
    width: 90%;
    margin: 0 5% 0 5%;
    border-radius: 60px 60px 0 0;
    column-gap: 5%;
    border-bottom: 2px solid var(--cor3);
    align-items: center;
}


#imgMachado{
    width: 400px;
    height: 550px;
    padding: 25px;
    border: 2px solid rgb(170, 170, 170);
    border-radius: 10px;
}

#titulo2-4{
    display: flex;
    font-size: 45px;
    margin: 0 20px 20px 0;
    font-family: var(--fonte1);
    justify-content: flex-end;
}

.div8{
    width: 30%;
    margin: 0 0 0 100px;
}

.div7{
    display: flex;
    margin: 0 5% 0 0;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 70%;
    
}

.div9{
    display: flex;
    width: 100%;
    height: 300px;
    margin-top: 40px;
    justify-content: space-evenly;
}

.div10{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 22%;
}

#imgLivros{
    width: 140px;
    margin-bottom: 30px;
}

.botaoLivro{
    display: flex;
    width: 100px;
    height: 30px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--cor1);
    color: var(--cor1);
    font-family: var(--fonte1);
    
}

footer{
    display: flex;
    background-color: var(--cor3);
    width: 90%;
    margin-left: 5%;
    border-top: 2px solid var(--cor4);
    justify-content: center;
}

#textoFooter{
    padding: 30px 50px 30px 50px;
    font-family: var(--fonte1);
}

#sec5{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: 80px 10% 0 10%;
}

.divProfessores{
    display: flex;
    width: 100%;
    padding-top: 80px;
    height: 450px;
    align-content: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.divProfessor{
    display: flex;
    height: 380px;
    width: 40%;
}

.div6{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 250px;
    margin-left: 30px;
}

#imgProfessor{
    margin: 25px 10px 0 0;
    width: 200px;
    height: 200px;
    border-radius: 100%;
}

iframe{
    margin-bottom: 50px;
}
