@import url('https://fonts.googleapis.com/css2?family=Arvo&display=swap');

@font-face {
    font-family: OpenSans;
    src: url(../recursos/fontes/OpenSans-VariableFont_wdth\,wght.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    max-width: 100%;
}


:root {
    --cor1: rgb(236, 104, 74);
    --cor2: rgb(250, 244, 244);
    --cor3: gainsboro;
    --cor4: grey;
    --cor5: rgb(62, 62, 62);
    --fonte1: 'Arvo', serif;
    --fonte2: 'OpenSans', sans-serif;
}

body{
    background-color: var(--cor2);
    color: var(--cor5);
    font-family: var(--fonte2);
}

@media (max-width: 1500px) {
    body{
        background-color: var(--cor5);
        color: white;
        font-family: var(--fonte2);
    }

    #sec1 p{
        background-color: gray;
        border-radius: 20px;
        padding: 30px;
    }

    .div3 {
        text-align: center;
        margin-top: 50px;
        color: white;
    }

}

header{
    display: flex;
    height: 120px;
    width: 90%;
    margin: 0 5% 0 5%;
    padding-top: 60px;
    border-bottom: 5px solid var(--cor1);
}

#tituloPrincipal{
    font-size: 25px;
    letter-spacing: 2px;
    font-family: var(--fonte1);
}

#titulo3-1{
    letter-spacing: 1.5px;
    font-size: 13px;
}

#iconesNav{
    width: 20px;
    height: 20px;
}

.div1{
    display: flex;
    gap: 15px;
}

nav{
    display: flex;
    height: 110px;
    width: 67%;
    justify-content: flex-end;
}

#textoNav{
    font-family: var(--fonte1);
    color: var(--cor4);
    margin-right: 35px;
}

#listaNav{
    display: flex;
    list-style-type: none;
}


#listaNav li{
    position:relative;
    float:left;
}


strong #textoNav{
    color: var(--cor1);
}


#listaNav li a {
    color: gray;
    text-decoration: none;
    padding: 5px 10px;
    display: block;
}

#listaNav li a:hover {
    box-shadow: 0 1px 3px 0 #CCC;
    box-shadow: 0 1px 3px 0 #ccc;
    text-shadow: 0px 1px 5px #fff;
    font-weight: 600;
}

#listaNav li ul {
    position: absolute;
    top: 35px;
    background-color: #fff;
    display: none;
    font-size: 12px;
    border-radius: 0 0 20px 20px;
}

#listaNav li:hover ul,
#listaNav li.over ul {
    display: block;
}

#listaNav li ul li {
    display: block;
    width: 180px;
}

main {
    display: flex;
    width: 80%;
    height: 1140px;
    justify-content: center;
    flex-direction: column;
    margin: 50px 10% 50px 10%;
    border: 2px solid rgb(170, 170, 170);
    border-radius: 80px;
}

#sec1 {
    justify-content: center;
    border: 2px solid var(--cor1);
    height: 1000px;
    margin: 70px;
    border-radius: 80px;
    padding: 100px;
}


#sec1 p {
    text-align: justify;
    color: #000;
    font-size: 18px;
    line-height: 30px;
    text-indent: 70px;
    margin-bottom: 20px;
}

#sec1 h1 {
    text-align: center;
    color: #000;
    font-size: 40px;
    margin-bottom: 50px;
    font-family: var(--fonte1);
}

.div3 {
    text-align: center;
    margin-top: 70px;
}

footer {
    display: flex;
    background-color: var(--cor1);
    width: 100%;
    height: 100px;
    justify-content: center;
    align-items: center;
}