@import url('https://fonts.googleapis.com/css2?family=Arvo&display=swap');
@font-face {
    font-family: OpenSans;
    src: url(../recursos/fontes/OpenSans-VariableFont_wdth\,wght.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    max-width: 100%;
}


:root{
    --cor1: rgb(236, 104, 74);
    --cor2: rgb(250, 244, 244);
    --cor3: gainsboro;
    --cor4: grey;
    --cor5: rgb(62, 62, 62);
    --fonte1: 'Arvo', serif;
    --fonte2: 'OpenSans', sans-serif;
}

body{
    background-color: var(--cor2);
    color: var(--cor5);
    font-family: var(--fonte2);
}

header{
    display: flex;
    height: 120px;
    width: 90%;
    margin: 0 5% 0 5%;
    padding-top: 60px;
    border-bottom: 5px solid var(--cor1);
}

#tituloPrincipal{
    font-size: 25px;
    letter-spacing: 2px;
    font-family: var(--fonte1);
}

#titulo3-1{
    letter-spacing: 1.5px;
    font-size: 13px;
}

#iconesNav{
    width: 20px;
    height: 20px;
}

.div1{
    display: flex;
    gap: 15px;
}

nav{
    display: flex;
    height: 110px;
    width: 67%;
    justify-content: flex-end;
}

#textoNav{
    font-family: var(--fonte1);
    color: var(--cor4);
    margin-right: 35px;
}

#listaNav{
    display: flex;
    list-style-type: none;
}


#listaNav li{
    position:relative;
    float:left;
}


strong #textoNav{
    color: var(--cor1);
}

#listaNav li a{
    color: gray; 
    text-decoration:none; 
    padding:5px 10px; 
    display:block;
}

#listaNav li a:hover{
    box-shadow:0 1px 3px 0 #CCC;
    box-shadow:0 1px 3px 0 #ccc;
    text-shadow: 0px 1px 5px #fff;
    font-weight: 600;
}

#listaNav li ul{
    position:absolute;
    top:35px;
    background-color:#fff;
    display:none;
    font-size: 12px;
    border-radius: 0 0 20px 20px;
}

#listaNav li:hover ul, #listaNav li.over ul{
    display:block;
}

#listaNav li ul li{
    display:block;
    width: 180px;
}

#nav2 {
    display: flex;
    width: 350px;
    height: 1350px;
    background-color: var(--cor1);
    justify-content: center;
    margin: 50px 0 50px 5%;
    border-radius: 50px;
}

.div2{
    text-align: center;
    color: #fff;
}

#img1{
    border-radius: 100%;
}

.div2 h1{
    font-size: 40px;
    margin: 30px;
    text-shadow: 2px 1px 4px black;
    font-family: var(--fonte1);
}

.div2 img{
    height: 280px;
    width: 280px;
}

#final{
    margin-left: 177px;
}

#inicial{
    margin-top: 60px;
}

.div2 p{
    text-align: justify;
    line-height: 50px;
    font-size: 16px;
    margin: 0 40px 0 40px;
}

#descricao{
    text-align: justify;
    line-height: 30px;
    font-size: 16px;
    margin: 50px 40px 0 40px;
}

.div2 h2{
    margin-top: 30px;
    text-decoration: underline;
    text-underline-offset: 15px;
    font-family: var(--fonte1);
}

main{
    display: flex;
    position: absolute;
    top: 180px;
    left: 30%;
    width: 60%;
    height: 1200px;
    justify-content: center;
    flex-direction: column;
    margin-top: 50px;
    border: 2px solid rgb(170, 170, 170);
    border-radius: 50px;
    padding: 70px;
}

.div3{
    justify-content: center;
}

.div3 p{
    text-align: justify;
    color: #000;
    font-size: 18px;
    line-height: 30px;
    text-indent: 70px;
    margin-bottom: 20px;
}

.div3 h1{
    text-align: center;
    color: #000;
    font-size: 40px;
    margin-bottom: 50px;
    font-family: var(--fonte1);
}

footer{
    display: flex;
    background-color: var(--cor1);
    width: 100%;
    height: 100px;
    justify-content: center;
    align-items: center;
}


#textoRodape{
    font-size: 18px;
    color: #fff;
    font-family: var(--fonte1);
}